<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diagnostics</key>
	<array>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_sint</string>
			<key>description</key>
			<string>%lli in format string (no. 1) requires 'long long' but the argument type is 'unsigned long long'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>6eff814846f1425b09dcef87c0344a13</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>242</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>242</integer>
					</dict>
					<key>message</key>
					<string>%lli in format string (no. 1) requires 'long long' but the argument type is 'unsigned long long'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>242</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>242</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-invalidPrintfArgType_sint</string>
			<key>description</key>
			<string>%lli in format string (no. 2) requires 'long long' but the argument type is 'unsigned long long'.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>8f7881e655bc43bb3d50accb4fa1c84b</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>9</integer>
				<key>file</key>
				<integer>1</integer>
				<key>line</key>
				<integer>242</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>9</integer>
						<key>file</key>
						<integer>1</integer>
						<key>line</key>
						<integer>242</integer>
					</dict>
					<key>message</key>
					<string>%lli in format string (no. 2) requires 'long long' but the argument type is 'unsigned long long'.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>242</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>9</integer>
								<key>file</key>
								<integer>1</integer>
								<key>line</key>
								<integer>242</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>warning</string>
			<key>check_name</key>
			<string>cppcheck-pointerSize</string>
			<key>description</key>
			<string>Size of pointer 'keys' used instead of size of its data.</string>
			<key>issue_hash_content_of_line_in_context</key>
			<string>30e6cb6d036003fd01655f48730f9732</string>
			<key>location</key>
			<dict>
				<key>col</key>
				<integer>8</integer>
				<key>file</key>
				<integer>0</integer>
				<key>line</key>
				<integer>81</integer>
			</dict>
			<key>path</key>
			<array>
				<dict>
					<key>depth</key>
					<integer>0</integer>
					<key>kind</key>
					<string>event</string>
					<key>location</key>
					<dict>
						<key>col</key>
						<integer>8</integer>
						<key>file</key>
						<integer>0</integer>
						<key>line</key>
						<integer>81</integer>
					</dict>
					<key>message</key>
					<string>Size of pointer 'keys' used instead of size of its data.</string>
					<key>ranges</key>
					<array>
						<array>
							<dict>
								<key>col</key>
								<integer>8</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>81</integer>
							</dict>
							<dict>
								<key>col</key>
								<integer>8</integer>
								<key>file</key>
								<integer>0</integer>
								<key>line</key>
								<integer>81</integer>
							</dict>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>files</key>
	<array>
		<string>/Users/martia/Documents/playground/tide/belper.h</string>
		<string>/Users/martia/Documents/playground/tide/tide.c</string>
	</array>
	<key>metadata</key>
	<dict>
		<key>analyzer</key>
		<dict>
			<key>name</key>
			<string>cppcheck</string>
		</dict>
		<key>generated_by</key>
		<dict>
			<key>name</key>
			<string>CodeChecker</string>
			<key>version</key>
			<string>6.23.1</string>
		</dict>
	</dict>
</dict>
</plist>
